﻿<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <p>Lo siento, no estás autorizado para ver esta página.</p>
                </NotAuthorized>
                <Authorizing>
                    <p>Autenticando...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p>Lo sentimos, no hay nada en esta dirección.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>